<section class="home">
  <div class="home__row">
    <div class="home__content">
      <p #tag class="home__tag">{{ profile.tagline }}</p>

      <h1 class="home__title">
        <span #name class="home__name">{{ profile.heroTitle[0] }}</span>
        <br />
        <span #typeEl class="home__type"></span>
      </h1>

      <p #subtitle class="home__subtitle">{{ profile.heroSubtitle }}</p>

      <div #actions class="home__actions">
        <a routerLink="/projetos" class="btn btn--primary">Ver projetos</a>
        <a routerLink="/contato" class="btn btn--ghost">Entrar em contato</a>
      </div>

      <div #stats class="home__stats">
        @for (line of statLines; track line) {
          <div class="home__stat">
            <p class="home__stat-value">{{ line }}</p>
          </div>
        }
      </div>
    </div>

    <div #avatar class="home__avatar-wrap">
      <img
        class="home__avatar"
        src="assets/avatar.png"
        width="240"
        height="240"
        alt="Retrato ilustrado de Luan Santos"
      />
    </div>
  </div>
</section>
